<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trang Chủ</title>
</head>
<body>
<style th:fragment="style">
    body{
        margin: 0;
        padding: 0;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    header{
        height: 50px;
        background: #333;
    }
    header a{
        line-height: 50px;
        padding: 0 10px;
    }
</style>
<header th:fragment="header">
  <a href="#">Trang Chu</a>
  <a href="#">Gioi Thieu</a>
  <a href="#">Lien He</a>
</header>
</body>
</html>